@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("/white-brick.jpg");
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
}
